<h2>User info</h2>


<h2>New Book</h2>
<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Opinion</p>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
  <% @books.each do |book| %>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p
  <% end %>
