<h2>User info</h2>
  <% @books.each do |book| %>
    <div>
      <%= image_tag book.user.get_image %>
      <p>name：<%= book.user.name %></p>
      <p>introduction：<%= book.user.introduction %></p>
    </div>
  <% end %>

<h2>New Book</h2>
<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Opinion</p>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
