<div class="container px-5 px-sm-0">
  <div class="row">
    
    <!--共通化-->
    <%= render 'books/list', user: @user %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <%= form_with model: @user do |f| %>
        <table class="table">
          <%= form_with model: @book do |f| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag @user.get_profile_image %><br>
                <%= link_to @user.name, user_path(@user) %>
              </td>
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>
              <% if @user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
      <% end %>
    </div>

  </div>
</div>
